BasedOnStyle: LLVM
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
ColumnLimit: 80
PenaltyBreakOpenParenthesis: 10
IndentWidth: 4